/* Reset на стиловете */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Основни стилове */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    color: #000000;
    text-align: center;
    background-color: rgb(180, 180, 180);
}

header h1 {
    font-size: 2.5rem;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px 0;
}

section h2 {
    margin-bottom: 20px;
}

.service {
    margin-bottom: 20px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
a{
    text-decoration: none!important;
    color: blue;
}
.link2{
    color: rgb(49, 255, 255);
}

.images2{
    margin-left: 500px;
    width: 500px;
    margin: auto;
    display: block;
}
.navbar-nav{
    background-color: #095189;
    padding-right: 800px;
}
.one{
    display: inline-block;
    padding: 10px 20px;
    background-color: #fecc28;
    color: #000000;
    text-decoration: none;
    border-radius: 5%;
}